<h2>{{title}}</h2>
<br>

<div  >

    <textarea (change)="updateGrid()" [(ngModel)]="objRowDataStr" rows="30" cols="50">
       {{ objRowDataStr | json }} 
    </textarea>

  

  <textarea (change)="updateGrid()" [(ngModel)]="objColDefsStr" rows="30" cols="50">
  
      {{ objColDefsStr | json }}
  </textarea>
</div>



<div id="grid-wrapper" style="width:100%; height: 30%; ">

  <ag-grid-angular 
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [rowData]="rowData" 
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [rowSelection]="'multiple'"
  [excelStyles]="excelStyles"
  (gridSizeChanged)="onGridSizeChanged($event)"
  >
  </ag-grid-angular>
</div>
<br>


<p>Scroll Mode: 
  <select [(ngModel)]="scrollMode" (change)="changeScroll()">
    <option value="vertical">Vertical</option>
    <option value="both" >Both</option>
    <option value="none" >None</option>
  </select>
{{wrapperStyles}}
</p>
